body {
    width: 120px;
    align-items: center;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    background: rgb(247, 246, 243);
}

#reloadBtn, #toggleBtn {
    margin-top: 10%;
}

#refresh-notice {
    font-weight: 600;
    color: rgb(187, 60, 60);
    animation: fadeInFromNone 0.5s ease-out;
    display: none;
    margin-top: 3px;
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
